/* ==UserStyle==
@name           AMQ--
@namespace      github.com/openstyles/stylus
@version        1.0.5
@description    Stripped down AMQ without avatars or any bullshit. Fixes chat emoji sizes and reduces glow effects. Also allows for custom backgrounds.
@author         ayyu
@preprocessor   less
@var color  bg-color "Background color" #111
@var text   bg-image "Background image" "URL in quotes"
==/UserStyle== */
@-moz-document domain("animemusicquiz.com") {

    @correct-color: #b6ff00;
    @wrong-color: #fb1212;
    @gold-color: #ffd700;
    @bronze-color: #c0c0c0;
    @silver-color: #cd7f32;
    
    @focus-color: #228dff;
    @reward-color: #4497ea;
    @ready-color: #006ab7;
    
    .small-text-shadow(@color) {
        text-shadow: 0 0 2px @color;
    }
    
    .outline(@size, @color) {
        outline: @size solid @color;
    }

    .outline-shadow(@size, @color) {
        outline: @size solid @color;
        box-shadow: none;
    }

    #loadingScreen {
        z-index: 1100;
    }

    #gameChatPage > .col-xs-9,
    #gameContainer,
    #startPage,
    #awMainView,
    #loadingScreen::before {
        background: @bg-color url("@{bg-image}") no-repeat center center fixed;
        background-size: cover;
    }

    #loadingScreen {
        background: @bg-color;

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    }

    #qpAnswerInputContainer.focused {
        .outline(1px, @focus-color);
        box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    }
    
    #qpReturnLobbyVoteContainer {
        .outline-shadow(1px, @focus-color);
    }

    #qpVoteSkipGlowContainer {
        box-shadow: none;
    }

    /* room browser */
    .rbrRoomImageContainer {
        display: none;
    }

    /* lobby */
    .lobbyAvatarImg {
        display: none;
    }

    .lobbyAvatarImgContainer {
        box-shadow: rgb(0, 0, 0) 0px 0px 10px 2px !important;

        .lbReady & {
            background: @ready-color;
        }
    }

    /* anime */
    #qpStandingCorrectCount {
        .small-text-shadow(@correct-color);
    }

    /* answer shit */
    .qpAvatarContainer {

        .qpAvatarImageContainer {
            box-shadow: none;
            background: none !important;
            height: 30%;
            
            .qpLiftContainer {
                right: auto;
                top: 40px;
                
                .qpLife {
                    height: 15%;
                    display: inline-block;
                }
                
                .qpOverlay {
                    box-shadow: none;
                }
            }
            
            .qpAvatarImage,
            .lobbyAvatarImg,
            .particleEmiter {
                display: none;
            }
        }
    }

    .qpAvatarAnswerContainer {
        top: 0;
        min-width: 100%;
    }

    .qpAvatarAnswerText {

        &.rightAnswer,
        &.wrongAnswer,
        &.goldGlow,
        &.silverGlow,
        &.bronzeGlow
        {
            color: white;
        }

        &.rightAnswer {
            .small-text-shadow(@correct-color);
        }
        &.wrongAnswer {
            .small-text-shadow(@wrong-color);
        }
        
        &.goldGlow {
            .small-text-shadow(@gold-color);
        }
        &.silverGlow {
            .small-text-shadow(@silver-color);
        }
        &.bronzeGlow {
            .small-text-shadow(@bronze-color);
        }
        
    }

    /* game chat */
    @emoji-size: 24px;
    @line-height: 1.2em;
    
    @chat-bg-color: rgba(0,0,0,0.6);
    @odd-bg-color: rgba(0,0,0,0.4);
    
    #gameChatContainer {
        background-color: @chat-bg-color;
        
        .gcList > li:nth-child(2n) {
            background-color: @odd-bg-color;
        }
    }
    
    #gcMessageContainer {
        .amqEmoji,
        .emoji {
            max-width: @emoji-size;
            max-height: @emoji-size;
            margin: calc(@line-height - @emoji-size) 0;
            vertical-align: middle;
        }
    }


    /* rewards */
    #xpBarAnimationContainer {
        .outline-shadow(3px, @reward-color);
    }
}